.root_box{
    background-color: #ebce95;
    height: 100vh;
    width: 100vw;
   box-sizing: inherit !important;
}
.main_box{
    background-color: #ebce95;
    height: 100vh;
    width: 100vw;
}
/* .postHead{
    /* left: 50%;
    right: 50%;
    transform: translate(50%-50%); */
    


.MuiCardHeader-content{
    display: none !important;
}
.img{
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
    margin-right: auto;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 65% !important;

}
.text1{
    color: #000 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 20px !important;
    
}
.text2{
    max-height: 18px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    width: 100% !important;
}
.text3{
    align-items: center !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
}
.posttitle{
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 30px !important;
    text-align: left !important;
}
.addicon{
    height: 24px !important;
    width:24px !important
}
.follow{
    color: #0a66c2 !important;
    /* font-size: 16px !important; */
    font-weight: 600 !important;
    line-height: 20px !important;
    position: absolute !important;
    right: 68% !important;
    text-transform: none !important;
   
}
.postbuttongroup{
   
    text-transform: none !important;
    border: unset !important;
    color: #000;


}
.button1{
    text-transform: none !important;
    border: unset !important;

}
.MuiButtonGroup-firstButton{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-transform: none !important;
    border: unset !important;
    color: #000;
}
