.signup_root {
    background-color: #f3f2f0;
    height: 100vh;
    width: 100vw;
   box-sizing: inherit !important;
}

.signup_wraper {
    box-sizing: border-box;
    height: auto;
    left: 50% !important;
    max-height: 700px;
    max-width: 1132px;
    padding: 24px 16px !important;
    position: absolute !important;
    transform: translate(-50%);
    width: 100% !important;
}

.signup_logoimg {
    display: block;
    height: auto !important;
    margin: 0;
    min-height: 30px;
    width: 100%;
}

/* .footer_text {

    position: fixed;
    left: 0;
    top: 280%;
    width: 100%;
    color: #000000dc;
    font-size: 14px !important;
    margin-top: 16px !important;
    text-align: center !important;

}

.footer_text_link {
    color: #0a66c2 !important;
    font-weight: 600 !important;
    text-decoration: none !important;
} */


.signup_title {
    color: #000000ec !important;
    font-size: 32px !important;
    font-weight: 400 !important;
    padding: 24px 16px !important;
    position: relative !important;
    text-align: center !important;
    width: auto !important;

}

.signup_box {
    background-color: #fff !important;
    border-radius: 8px;
    height: auto !important;
    margin: 0 auto !important;
    padding: 24px 24px 0;
    width: 400px;
    box-sizing: inherit;
    
}

.inner_box1 {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
}


.textfeild1 {
    margin-bottom: 0 !important;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
}

.text1 {
   
    font-size: 14px !important;
    font-weight: 600 !important;
    margin: 0 0 4px;
    text-align: left !important;
   
}

.signup_input1 {
    height: 33px;
    margin: 0 auto !important;
    max-width: 352px !important;
    padding: 0 15px 0 15px !important;}
    /* display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    height: 33px;
    margin: 0px;
    border: 1px solid black;
    border-radius: 4px;
    vertical-align: top;
    text-indent: 50px !important;
} */
.textfeild2{
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
    width:100%;
}

.text2 {
  
   
    font-size: 14px !important;
    font-weight: 600 !important;
    margin: 16px 0 4px;
    text-align: left !important;
   
}

.signup_input2 {
    display: inline-flex;
    position: relative;
    min-width: 0px;
    padding: 0 15px 0 15px;
    height: 33px;
    margin: 0px;
    border: 1px solid black;
    border-radius: 4px;
    vertical-align: top;
}

.signup_link {
    color: #0009 !important;
    font-size: 12px !important;
    line-height: 16px !important;
    text-align: center !important;
}

.signup_button {

     border-radius: 50px !important;
    height: 40px !important; 
    margin-top: 16px !important;
    padding: 20px 0 !important;
    text-transform: none !important;
    font-size: 16px !important;

}

.inner_box2 {
    width: 100%;
    border-top: thin solid rgba(0, 0, 0, 0.12);
    content: "";
}


.signup_divider {
   
    color: gray;
    font-size: 15px;
    margin: 22px 0px !important;
}

.signup_google_btn {
    background-color: initial !important;
    border: 1px solid #000 !important;
    box-shadow: none !important;
    color: #3c4043 !important;
    font-family: Google Sans, ar fial, sans-serif !important;
    border-radius: 50px !important;
    height: auto !important;
    margin-bottom: 15px !important;
   
    padding: 6px 16px !important;
    text-transform: none !important;
    width: 100% !important;
}

.google_img {
    height: 22px !important;
    margin-right: 10px !important;
    width: 22px !important;
}

.bottom_text {
    color: #000000e6 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    justify-content: center !important;
    line-height: 24px !important;
    padding: 16px 16px 24px !important;
    position: relative !important;
    text-align: center !important;
   
}

.bottom_text_link {
    color: #0a66c2 !important;
    font-weight: 600 !important;
    text-decoration: none !important;
}
.footer_text{
    font-size: 14px !important;
    margin-top: 16px !important;
    text-align: center !important;
}
/* .inputindorment{
    display: flex;
    height: 0.01em;
    max-height: 2em;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.54);
} */
.footer_link{
    text-decoration: none !important;
   }
.footer_wrap {
    display: flex !important;
    height: auto !important;
    min-height: 50px !important;
    position: absolute !important;
    justify-content: center;
    bottom: 0;
    width: 100% !important;
    background-color: white;
}

.footer {
    /* align-items: center !important; */
    display: flex !important;
    /* justify-content: center !important; */
    padding: 0 !important;
    margin: auto !important;
}
.footer_img{
    height: 16px !important;
    margin-right: 3px !important;
    width: 60px !important;
    margin-top: 3px;
}
.footer_text1{
    color: #0009 !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    line-height: 1.5rem !important;
    margin: 0 6px !important;
    text-decoration: none !important;
}